/* The CSS that all pages are pulling from */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust based on nav-bar height */
}

/* Navbar */
.nav-bar {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 12px 24px; /* Replace margin with padding */
    background: white; /* Ensure it's visible */
}

/* Navbar Links */
.nav-bar a {
    padding: 12px;
}

/* Navbar Containers */
.nav-left, .nav-right {
    display: flex;
}

/* Heading */
h1 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Button */
.BTNLogin {
    background-color: #4a90e2;
    color: white;
    font-size: 1rem;
    padding: 12px 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    margin: 20px auto; /* Reduce margin */
}

.nav-btn {
    /* transform: translateY(25%); */
    margin: 0;
    margin-right: 12px;
    margin-left: 12px;
    width: auto;
}

/* Sign-up text */
.signup-text {
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Subtitle */
.subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

/*This will be the results for Jobs class, so we can make it look good.*/
.Joblistings {
    padding: 10px;
    border: solid;
    border-color: #4a90e2;
    border-radius: 25px;
    margin: 30px;
}


/*formatting the paragraph*/
.jobdesctxt {
   width: auto;
   padding-left: 40px;
   padding-right: 40px;
}
/*Space reserved for search bar implementaiton CSS*/
input {
    padding: 5px;
    border-radius: 25px;
    border-color: gray;
}
/*going to comment more on what this all does*/
.headingjob {
    text-align: left;
    padding-left: 50px;
}

/*Modified Job titles and making them centered with page*/
.headingh2 {
    text-align: justify;
}

/*The Save button Feature
.save-job-btn {
    float: left;
    display: block;
} */
.searchposition {
    margin: 10px;
}

.formposition {
    padding-bottom: 9px;
}

/* Simple fix for top margin on text for search bars*/
.ppadmarg {
    padding-bottom: 3px;
}

.centering {
    display: flex;
    justify-content: center;  
    align-items: center;  
}
.centering h1 {
    flex-grow: 1;            
    text-align: center;  
}

.centering button {
    margin-left: 0;
}

a {
    padding: 3px;
}

.quickpad {
    padding: 9px;
}
